header a{
	color: #707070;
	text-decoration: none;
}


.bg-red{
	background-color: #2E2E2E;
}

.logo{
	width: 122px;
	height: 95.04px;
}

ul{
	list-style: none;

}

header ul a{
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 27px;
}

header img{
	max-width: 1640px;
	height: 613px;
	max-width: 100%;
}h1{
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
	color: #707070;
}

section img{
	width: 300px;
	height: 150px;
	max-width: 100%;
}

h3{
	color: #707070;
	font-size: 30px;
	letter-spacing: 0.3px;
	line-height: 40px;
}

p{
	color: #707070;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 24px;
}

section a{
	text-decoration: none;
	color: #707070;
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 32px;
}

section div a{
	text-decoration: none;
	color: #707070;
	font-size: 30px;
	letter-spacing: 0.3px;
	line-height: 40px;
}

h2{
	color: #707070;
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
}
footer ul a{
	color: #F2F2F2;
	text-decoration: none;
}

footer div{
	color: #F2F2F2;
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 17px;
}

footer a{
	color: #F8F8F8;
	font-size: 13px;
	letter-spacing: 0.13px;
	line-height: 17px;
}

footer ol{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 19px;
	letter-spacing: 0.19px;
	line-height: 17px;
}

footer ol a{
	font-size: 13px;
	letter-spacing: 0.13px;
	line-height: 17px;
	color: #FFFFFF;
	text-decoration: none;
}

ol{
	list-style-type: none;
}

.divlogo{
	width: 43.95px;
	height: 43.95px;
}

article{
	border: 2px solid #000000;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
	padding: 3px;
	text-align: left;
}

header li,nav{
	display: inline-block;
	margin-right: 50px;
}
section article{
	display: inline-block;

}

footer li,nav,ul,div{
	display: inline-block;
}

.container{
	width: 1640px;
	width: 100%;
	margin: 0 auto;
}
section div{
	margin-right: 50px;
	text-align: center;
}

.text-1 {
	font-family: "ArchyEDT-Thin", sans-serif;
}