header a{
	color: #707070;
	text-decoration: none;
}


.bg-red{
	background-color: #2E2E2E;
}

.logo{
	width: 122px;
	height: 95.04px;
}

ul{
	list-style: none;

}

header ul a{
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 27px;
}

header img{
	width: 1640px;
	height: 613px;
	max-width: 100%;
}h1{
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
	color: #707070;
}

section img{
	width: 483px;
	height: 282px;
	max-width: 100%;
}

h3{
	color: #707070;
	font-size: 30px;
	letter-spacing: 0.3px;
	line-height: 40px;
}

p{
	color: #707070;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 24px;
}

section a{
	text-decoration: none;
	color: #707070;
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 32px;
}

section div a{
	text-decoration: none;
	color: #707070;
	font-size: 30px;
	letter-spacing: 0.3px;
	line-height: 40px;
}

h2{
	color: #707070;
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
}
footer ul a{
	color: #F2F2F2;
	text-decoration: none;
}

footer div{
	color: #F2F2F2;
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 17px;
}

footer a{
	color: #F8F8F8;
	font-size: 13px;
	letter-spacing: 0.13px;
	line-height: 17px;
}

footer ol{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 19px;
	letter-spacing: 0.19px;
	line-height: 17px;
}

footer ol a{
	font-size: 13px;
	letter-spacing: 0.13px;
	line-height: 17px;
	color: #FFFFFF;
	text-decoration: none;
}

ol{
	list-style-type: none;
}

.divlogo{
	width: 43.95px;
	height: 43.95px;
}

article{
	border: 10px solid #000000;
	margin-top: 100px;
	margin-left: 10px;
	margin-bottom: 100px;
	margin-right: 10px;
	padding: 50px;
	text-align: left;
}